*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# app/build/ 디렉토리 제외
/app/build/

# Android/IntelliJ IDEA 관련 파일
.idea/
/.idea/

# Android 빌드 폴더
/build/

# OS 파일 (예: macOS, Windows)
Thumbs.db

/app/android-key.keystore
gradle.properties
app/google-services.json
